body {
    background-image: url('images/laka2.png');
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

#top-panel {
    background-color: #328a3c;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.button-container a {
    color: #fff; /* Kolor tekstu na biały */
    text-decoration: none; /* Usunięcie podkreślenia */
    display: block;
    padding: 10px 10px;
    text-align: center;
}

#loginForm, #registerForm {
    display: none; /* Ukrycie formularzy na początku */
    position: absolute;
    top: 50%; /* Wyśrodkowanie formularza w pionie */
    left: 50%; /* Wyśrodkowanie formularza w poziomie */
    transform: translate(-50%, -50%); /* Dokładne wyśrodkowanie względem środka */
    background-color: #b6ed6d;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 500;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input {
    display: block;
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container button {
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #328a3c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    max-width: 100%;
}

.form-container button:hover {
    background-color: #555;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.hidden {
    display: none;
}

#toggle-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#toggle-button:hover {
    background-color: #45a049;
}

#content {
    margin-top: 60px; /* Ensure content is below the top panel */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flower-info {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #328a3c;
    border: none;
    border-radius: 10px;
}


/* index.html */
.alert {
    display: none;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
}

    .alert.show {
        display: block;
    }

/* Styling for the gardener image */
#ogrodnik-img {
    position: fixed;
    bottom: 30px;
    left: 30px;
    max-width: 20%; /* Limiting the width */
    height: auto; /* Maintaining aspect ratio */
    z-index: 100; /* Ensuring it's above other content */
    cursor: pointer; /* Making it interactive */
    transition: box-shadow 0.3s, transform 0.3s ease;
}

#ogrodnik-img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    border-color: #aaa; /* Zmiana koloru ramki po najechaniu */
}

/* Styling for the notification icon */
.fa-bell {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f44336;
    font-size: 20px;
    cursor: pointer;
}

.speech-bubble {
    position: fixed;
    bottom: 5%; /* Keep it 30px from the bottom */
    left: 10%; /* Keep it 30px from the left */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5% 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    max-width: 30%;
}

    .speech-bubble.show {
        display: block;
        bottom: 20%; /* from the bottom of page */
        left: 21%;
    }

    /* home.html */

.chosen {
    border: 2px solid green;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

#image-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    #image-buttons a {
        display: block;
        width: 200px;
        height: 200px;
        margin: 10px;
        background-color: white;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s, transform 0.3s ease;
        border-radius: 70%;
        border: 3px solid #ddd;
    }

        #image-buttons a:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transform: scale(1.1);
            border-color: #aaa; /* Zmiana koloru ramki po najechaniu */
        }

    #image-buttons img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

.flower-info {
    display: none;
    margin: 20px 0;
}

    .flower-info h2 {
        margin: 10px 0;
    }

.button {
    display: inline-block;
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px;
    box-shadow: 0 2px #999;
    margin: 10px;
}

    .button:hover {
        background-color: #3e8e41;
    }

    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }

#garden ul {
    list-style-type: none;
    padding: 0;
}

#garden li {
    margin: 5px 0;
}

/* Alert styling */
.flashes {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

    .flashes li {
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 18px;
        color: #fff;
        background-color: #d9534f; /* red */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        animation: flash-animation 0.5s ease-in-out;
    }

/* Animation */
@keyframes flash-animation {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
    /* garden.html */

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 60px;
        background-color: rgba(255, 255, 255, 0.8);
        overflow-x: hidden;
        transition: width 0.5s;
        z-index: 1001;
    }

    .sidebar:hover {
        width: 200px;
    }

    .sidebar img {
        width: 40px;
        margin: 20px;
        cursor: pointer;
    }

    .sidebar:hover img {
        width: 180px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1002;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        text-align: center;
    }

    .modal-button {
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
    }

    .modal-button.yes {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
    }

    .modal-button.no {
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 5px;
    }

